.squelette
{
    display: flex;
    flex-direction: column;
}
.presentation
{

    display: flex;
    flex-direction: column;
}
.list > ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: top;
}

.list > ul > li
{
	list-style-type: none;
	margin-top: 0;
}

.cercle
{
    margin-top: 1vh;
}

.toutparagraphe
{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0;
    
}
.toutparagraphebottom
{
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-left: 15%;
}
.droiteparagraphe 
{
margin-left: 1vw;
  width: 100%;
}

.droiteparagraphe  > article
{
  display: flex;
  flex-direction: column;
}

.placementrond
{
    margin-top: 10%;
}

.menuformation
{
    justify-content: center;
}

.header
{
    flex-direction: column;
    align-items: center;
    margin: 0px;
 
}
.classalpha
{
	grid-column-start: 1;
	margin-left: 0vw;
}


.placementrond
{
    font-size: 3em;
}
.imagecv
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.image 
{
    width: 100px;
}

.article
{
    margin-top: 1vh;
}

.illustrationhobby >  div > img
{
	width: 5vw;
	height: 5vw;

}

.imagecv
{
    width: 200px;
}

.list
{
    margin-top: 2%;
    font-size: 2em;
} 